@using SaladBack.Core
@model List<Fruit>
@{
    ViewData["Title"] = "Index";
}

<form action="#" class="search" method="post">
<h1 style="display:inline-block; color:white; margin-right:12px;">Index
</h1>
    <input class="form-control search-input" type="type" name="Name" value="" placeholder="Search" style="width:30%" />
    <input type="submit" class="btn btn-success"/>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                   Name
            </th>
            <th>
                Desc
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="partials">
        @Html.Partial("_FruitPartial")
    </tbody>
</table>

<script src="~/assets/js/JavaScript.js">
</script>
