@using SaladBack.Core
@using SaladBack.Core.Models
@model SaladBack.Core.Models.FruitSalad

@{
    ViewData["Title"] = "Create";
    List<Fruit> fruits = ViewBag.Fruits;
    List<Size> sizes = ViewBag.Sizes;
}

<h1>Create</h1>

<h4>FruitSalad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Fruits</label>
                <select asp-for="FruitId" asp-items="@new SelectList(fruits, nameof(Fruit.Id), nameof(Fruit.Name))" id="02" class="form-control">
                </select>
                <span asp-validation-for="FruitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fruits</label>
                <select asp-for="SizeId" asp-items="@new SelectList(sizes, nameof(Size.Id), nameof(Size.Name))" id="02" class="form-control">
                    </select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaladImages" class="control-label"></label>
                <input multiple asp-for="SaladImages" type="file"  class="form-control" />
                <span asp-validation-for="SaladImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

